
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1e;
    color: lightgray;
  }

  .pass {
    color: lightgreen;
  }

  a {
    color: #8AB4F8;
  }

  a:visited {
    color: #b18af8;
  }
}

.no-web-serial {
  font-size: larger;
  color: red;
}

#connection_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
