
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1e;
    color: lightgray;
  }

  a {
    color: #8AB4F8;
  }

  a:visited {
    color: #b18af8;
  }
}

.no-web-serial {
  font-size: larger;
  color: red;
}

#connection_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#connection-port-div {
  display: inline;
}

.no-padding {
  padding: 0px !important;
}

.connected {
  background-color: rgb(174, 248, 165);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.disconnected {
  background-color: rgb(75, 75, 75);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.connect-error {
  background-color: rgb(255, 174, 174);
  transition-property: background-color;
  transition-duration: 0.5s;
  color: black;
}

#connect-info {
  color: rgb(216, 216, 216);
}

#connect-info a {
  color: rgb(164, 184, 250);
}

#connect-info a:visited {
  color: rgb(230, 164, 250);
}

.connect-error a {
  color: #003c9c;
}

.connect-error a:visited {
  color: #5f007c;
}

#connect-banner {
  padding: 10px;
  margin-bottom: 20px;
}

.align-right {
  text-align: right;
}
