
.no-web-serial {
  font-size: larger;
  color: red;
}

#connection_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  #connection_img {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  #connection_img {
    width: 95%;
  }
}

#open-port-div {
  display: inline;
}

.no-padding {
  padding: 0px !important;
}

.opened {
  background-color: rgb(174, 248, 165);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.opening {
  background-color: rgb(255, 225, 91);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.closed {
  background-color: rgb(75, 75, 75);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.open-error {
  background-color: rgb(255, 174, 174);
  transition-property: background-color;
  transition-duration: 0.5s;
  color: black !important;
}

.open-error a {
  color: #003c9c !important;
}

.open-error a:visited {
  color: #5f007c !important;
}

#connect-banner {
  color: rgb(216, 216, 216);
  padding: 10px;
  margin-bottom: 20px;
}

#connect-banner a {
  color: rgb(164, 184, 250);
}

#connect-banner a:visited {
  color: rgb(230, 164, 250);
}

.align-right {
  text-align: right;
}

.write-status-hidden {
  opacity: 0;
  color: black;
}

.write-status-writing {
  opacity: 1;
  transition-duration: 0.25s;
  color: orange;
}

.write-status-success {
  opacity: 1;
  color: green;
  transition-duration: 0.25s;
  animation: hideAnimation 1s linear 1s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    opacity: 0;
  }
}

.write-status-error {
  opacity: 1;
  color: red;
  transition-duration: 0.25s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1e;
    color: lightgray;
  }

  a {
    color: #8AB4F8;
  }

  a:visited {
    color: #b18af8;
  }
}
